[submodule "lib/sht-sensor-lib"]
	path = lib/sht-sensor-lib
	url = https://github.com/almond-hydroponics/sht-sensor-lib
[submodule "lib/ACS712-arduino"]
	path = lib/ACS712-arduino
	url = https://github.com/rkoptev/ACS712-arduino.git
[submodule "lib/RTClib"]
	path = lib/RTClib
	url = https://github.com/adafruit/RTClib.git
